---
layout: default
---
<article {% if page.feature-img %}class="feature-image"{% endif %}>
    <header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
        <h1 class="title">{{ page.feature-title | default: page.title }}</h1>
        {% if page.event.topic %}<h2 class="subtitle">{{ page.event.topic }}</h2>{% endif %}
        <h3>{{ page.event.date }}</h3>
        {% if page.event.registration_url %}<a href="{{ page.event.registration_url }}">Register</a>{% endif %}
    </header>
    <section class="description">
        <h3>{{ page.event.description.short }}</h3>
        {% for p in page.event.description.long %}
        <p>{{ p }}</p>
        {% endfor %}
    </section>
    <section class="speaker">
        <h3>Speaker</h3>
        {% if page.event.speaker.image_url %}
        <p><img src="{{ page.event.speaker.image_url }}" class="speaker-image"></p>
        {% endif %}
        <h3>{{ page.event.speaker.name }}</h3>
        <h4>{{ page.event.speaker.byline }}</h4>
        <p>{{ page.event.speaker.bio }}</p>
    </section>
    {% if page.event.year == site.current_event_year %}
    <section class="registration">
        <h3>Registration</h3>
        <p>
        The cost of the event is <strong>${{ page.event.registration.cost }}</strong>. 
        If paid after {{ page.event.registration.deadline }}, there is a ${{page.event.registration.late_fee }} late fee.
        While we prefer online payment, you may also pay at the door.
        </p>
        <p>If you are writing a check, please make checks payable to: “CYPU”</p>
    </section>
    {% endif %}
    {{ content }}
</article>
